{{>header}}
<title>CRUD | Home</title>
{{>navbar}}
<div class="container-fluid">
    <h5 class="background text-light text-center p-1 mt-1">Employee Record</h5>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Salary</th>
                <th>City</th>
                <th>State</th>
                <th></th>
                <th></th>
            </tr>
            {{#each data}}
            <tr>
                <td>{{_id}}</td>
                <td>{{name}}</td>
                <td>{{dsg}}</td>
                <td>{{salary}}</td>
                <td>{{city}}</td>
                <td>{{state}}</td>
                <td><a href='/update/{{_id}}'><span class="material-symbols-outlined">edit</span></a></td>
                <td><a href='/delete/{{_id}}'><span class="material-symbols-outlined">delete_forever</span></a></td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>
{{>footer}}